<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       classpath:org/springframework/beans/factory/xml/spring-beans-4.3.xsd
       http://www.springframework.org/schema/jdbc
       classpath:org/springframework/jdbc/config/spring-jdbc-4.3.xsd">

    <!--&lt;!&ndash;数据初始化&ndash;&gt;-->
    <!--<jdbc:initialize-database data-source="dataSource">-->
        <!--<jdbc:script location="classpath:sql/school.sql"/>-->
    <!--</jdbc:initialize-database>-->

</beans>